    :root {
        --cor-de-fundo: orchid;
        --verde: black;
        --branco: aliceblue;
        --vermelho: chartreuse;
        --botao-ativo: #3F13D1;
        --botao-inativo: #13CBD1;
        --texto-fundo: #FA0000;
        
    
    }